body{
    background-color: #1f1f1f;
}
.video-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
}
.background-conatiner{
    background-image: url("./images/js.png");
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
      background-position: center;

}
@media screen and (max-width:700px){
    .video-container{
        flex-direction: column;
        
    } 
}